@import "../../style/index";

.tech {
  h1 {
    display: inline-block;
    margin-bottom: 30px;
  }
  h2 {
    display: inline-block;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: none;
  }
  p {
    line-height: 25px;
    margin-bottom: 30px;
  }
}
.launchBanner {
  // background: url("./img/launch-banner.png") top center no-repeat;
  // background-size: cover;
  // height: 412px;
  img {
    width: 100%;
  }
}

.themeContainer {
  background: url("./img/banner-bg.png") top center no-repeat;
  background-size: cover;
  height: 378px;
  position: relative;
  > img {
    width: 100%;
  }
  .content {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 60px;
  }
  .items {
    display: flex;
    justify-content: center;
    a {
      display: inline-flex;
      align-items: center;
      width: 216px;
      height: 62px;
      padding-left: 25px;
      margin-right: 30px;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
      color: #6330DD;
      text-decoration: none;
      font-size: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
    img {
      width: 36px;
      height: 36px;
      margin-right: 16px;
    }
  }
  .slogan {
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 0;
    }
  }
  .pcSlogan {
    min-height: 150px;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
  }
}

.architectureContainer {
  margin: 100px 0 100px;
  img {
    width: 100%;
  }
  .archWrapper {
    background: url("./img/architecture/architecture-bg.png") top center no-repeat;
    // padding: 60px 0 88px 0;
    // background: url("./img/architecture-bg.png");
    background-size: cover;
    padding: 70px 0 70px 0;
    position: relative;
    // padding: 0 10%;
    .opacityBg {
      position: absolute;
    }
    > img {
      width: 81%;
      margin-left: 10%;
    }
  }

  .anime {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    >div {
      padding-top: 32%;
      position: relative;
    }

    img {
      position: absolute;
    }

    .solo {
      // width: 2.5%;
      width: 28px;
      margin-left: 45.7%;

      :global {
        animation: solo 6s ease-in-out infinite both;
      }
    }

    .chain {
      // width: 3.0%;
      width: 34px;
      margin-left: 49.4%;

      :global {
        animation: chain 6s ease-in-out infinite both;
      }
    }

    button {
      cursor: default;
      pointer-events: none;
      height: 11%;
      line-height: 1;
      border: none;
      text-align: center;
      font-size: 16px;
      border-radius: 0;
    }

    .soloBtn {
      margin-left: 28.5%;
      background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
      color: #fff;
      width: 9.2%;
      position: absolute;
      padding: 0;
    }

    .soloWhiteBtn {
      background: white;
      color: #1e1e1e;

      :global {
        animation: 6s ease-in-out infinite both soloWhiteBtn;
      }
    }

    .chainBtn {
      margin-left: 58%;
      width: 13.8%;
      position: absolute;
      background: white;
      color: #1e1e1e;
    }

    .chainPinkBtn {
      border: 0;
      color: #fff;
      background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);

      :global {
        animation: 6s ease-in-out infinite both chainPinkBtn;
      }
    }

    @keyframes :global(chainPinkBtn) {

      0%,
      33% {
        opacity: 0;
      }

      50%,
      83% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    @keyframes :global(soloWhiteBtn) {

      0%,
      33% {
        opacity: 0;
      }

      50%,
      83% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    @keyframes :global(chain) {

      0%,
      33% {
        transform: translate(0, 0);
      }

      50%,
      83% {
        transform: translate(-30%, 0);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    @keyframes :global(solo) {

      0%,
      33% {
        transform: translate(0, 0);
      }

      50%,
      83% {
        transform: translate(32%, 0);
      }

      100% {
        transform: translate(0, 0);
      }
    }
  }
}

.stageContainer {
  margin: 100px 0 100px;
  img {
    width: 100%;
  }
  p {
    margin-bottom: 0;
  }
  .holderCol {
    display: flex;
    align-items: center;
    max-width: 68px;
    padding: 0 15px;
  }
  .curCol {
    padding: 0;
  }
  .roadmapRow {
    margin-top: 30px;
    .waiting {
      img {
        filter: opacity(40%) saturate(0%);
      }
    }
    > div {
      padding: 0 30px;
      &.holderCol {
        padding: 0 15px;
      }
    }
  }
  .label {
    margin-top: 20px;
    font-size: 20px;
    color: #201550;
    font-weight: 600;
    margin-bottom: 15px;
    > div {
      padding: 0;
      &.holderCol {
        padding: 0 15px;
      }
    }
    p {
      margin-bottom: 0;
    }
  }

  .detail {
    > div {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &.holderCol {
        padding: 0 15px;
      }
    }
  }
}

.innovationContainer {
  margin: 100px 0 50px;
  img {
    width: 100%;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .innoRow {
    p {
      margin-bottom: 0;
    }
  }
}

.bridgeContainer {
  margin: 50px 0;
  .section {
    background: #F9FAFC;
    padding: 20px 130px;
    display: flex;
    align-items: center;
  }
  img {
    width: 100%;
  }
}

.relayContainer {
  margin: 50px 0;
  .relaySection {
    position: relative;
  }
  h1 {
    margin-bottom: 35px;
  }
  .title {
    .gradientText {
      text-transform: initial;
    }
  }
  img {
    width: 100%;
    background-color: #f7f7f7;
  }
  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    .title {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 2vw;
    }
    .item {
      p {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 4px;
      }
    }
  }
  .trust {
    display: inline-block;
    color: #fff;
    margin-left: 18%;
    margin-top: 13%;
  }
  .truth {
    color: #fff;
    margin-left: 34%;
    margin-top: 7%;
  }
}

.mmrContainer {
  margin: 50px 0;
  img {
    width: 100%;
  }
}

.gameContainer {
  margin: 50px 0;
  .section {
    background: #F9FAFC;
    padding: 30px 85px 30px 60px;
    display: flex;
    align-items: center;
  }
  img {
    width: 50%;
    margin-right: 10%;
  }
}

.nftContainer {
  margin: 50px 0;
  .section {
    background: #F9FAFC;
    padding: 30px 85px 30px 60px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  img {
    width: 50%;
    margin-right: 10%;
  }
}

.line {
  display: inline-block;
  height: 2px;
  width: 113px;
  background-color: #fff;
  margin: 0px 8px 35px 3px;
}

.fontH1 {
  text-transform: uppercase;
  font-size: 40px;
}

.lineH1 {
  height: 1px;
  background: #EFEFEF;
  margin-bottom: 70px;
  font-weight: bold;
}

.lineH2 {
  height: 1px;
  background: #EFEFEF;
  width: 80px;
  margin: 2rem auto;
}

.gradientText {
  text-transform: uppercase;
  font-size: 40px;
  color: rgba(8, 12, 32, 1);
  letter-spacing: 2px;
  background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.generalGradientText {
  color: rgba(8, 12, 32, 1);
  background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 767.98px) {
  .tech {
    .title {
      text-align: center;
    }
    p {
      line-height: 24px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  .themeContainer {
    background: url("./img/banner-bg-m.png") top center no-repeat;
    background-size: cover;
    height: 720px;
    .items {
      // margin-top: 70px;
      flex-direction: column;
      align-items: center;
      a {
        width: 290px;
        margin: 0 0 24px 0;
        padding-left: 56px;
      }
    }
    .slogan {
      font-size: 22px;
      min-height: 310px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // padding-top: 110px;
      // margin: 0 40px;
      text-align: center;
      &.pcSlogan {
        display: none;
      }
      p {
        min-height: 40px;
      }
    }
  }
  .architectureContainer {
    margin: 50px 0;
    p {
      margin-bottom: 20px;
    }
  }
  .stageContainer {
    margin: 50px 0;
    .desc {
      margin-bottom: 64px;
    }
    img {
      // padding: 0 50px;
    }
    .nospace {
      padding-left: 10px;
      padding-right: 0;

      p {
        // text-align: center;
        margin-bottom: 0px;
      }

      &>div>div {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .placeholderCol {
      padding: 0;
    }
    .imgCol {
      position: relative;
      padding: 0;
      img {
        margin: 0 30px 0 10px;
        width: calc(100% - 40px);
        filter: opacity(40%) saturate(0%);
      }
      .waiting {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        img {
          filter: none;
        }
      }
    }
    .label {
      height: 100%;
      margin-top: 0;
      margin-left: 0px;
      margin-right: 0px;
      font-weight: bold;
      flex-direction: column;
      align-items: stretch;
      font-size: 16px;
      .time {
        color: #E93787;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 0;
        min-height: 26px;
      }

      div {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // align-items: center;
        flex: 1;
        &.Col1 {
          padding-top: 5px;
        }
        &.Col2 {
          padding-top: 5px;
        }
        &.Col5 {
          padding-bottom: 12px;
        }

        p+p {
          margin-bottom: 0
        }
      }
    }

  }
  .innovationContainer {
    margin: 50px 0;
    h6 {
      font-size: 16px;
    }
    .innoCol1 {
      margin-bottom: 20px;
    }
  }
  .bridgeContainer {
    margin: 40px 0;
    .title {
      text-align: left;
    }
    .section {
      padding: 4px 30px;
      display: flex;
      flex-direction: column;
    }
  }
  .relayContainer {
    margin: 40px 0;
    .title {
      text-align: left;
    }
    h1 {
      margin-bottom: 15px;
    }
    .content {
      flex-direction: column;
      .title {
        margin-bottom: 40px;
        text-align: left;
      }
      .item {
        p {
          line-height: 24px;
        }
      }
    }
    .trust {
      margin: 100px auto 0;
    }
    .truth {
      margin: 220px auto 0;
      .item {
        p {
          line-height: 24px;
        }
      }
    }
  }
  .mmrContainer {
    margin: 40px 0;
    .title {
      text-align: left;
    }
  }
  .gameContainer {
    margin: 40px 0;
    .title {
      text-align: left;
    }
    .section {
      padding: 0;
      display: flex;
      flex-direction: column;
      background-color: initial;
      margin-bottom: 20px;
      img {
        order: 2;
        width: 100%;
        margin: 0;
      }
    }
    a {
      width: 100%;
    }
  }
  .nftContainer {
    margin: 40px 0;
    .title {
      text-align: left;
    }
    .section {
      background: initial;
      flex-direction: column;
      padding: 0;
      margin: 0;
      img {
        width: 100%;
        margin: 20px 0 40px;
      }
      p {
        order: -1;
        margin-bottom: 0;
      }
    }
    a {
      width: 100%;
      padding: 10px 0;
    }
  }
  .lineH1 {
    height: 2px;
    background: #EFEFEF;
    margin-bottom: 30px;
  }
  .lineH2 {
    height: 2px;
    background: #fff;
    width: 80px;
    margin: 2rem auto;
  }

  .fontH1 {
    font-size: 24px;
    margin-bottom: 15px;
    // font-weight: bold;
  }
  .line {
    display: none;
  }
}