@import "../../style/index";

.homePage {
  p {
    line-height: 1.5;
  }
}

.carousel {
  // margin: 100px 0;
  > div {
    > a {
      display: none;
    }
  }
  .carouselItem {
    .imgRatio {
      display: block;
      // padding-bottom: 26%;
      height: 412px;
      position: relative;
      // > div > div {
      //   width: 100%;
      // }
      img {
        background-color: #f7f7f7;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .mediaInfo {
      margin: 10px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #6330dd;
      .mediaTime {
        font-size: 12px;
        color: #201550;
      }
    }
    .mediaDesc {
      font-size: 16px;
    }
  }
}

.wxContainer {
  background: rgba(255, 255, 255, 1);
  // box-shadow: 0px 0px 4px 0px rgba(22, 17, 75, 0.3);
  // box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  text-align: center;
  //position: absolute;
  //right: 0;
  //bottom: 0;
  .wxContainerBody {
    padding: 20px;
    p {
      margin: 0;
      color: #6330dd;
      font-size: 16px;
      font-weight: bold;
    }
  }
  > div {
    &::before {
      border: none !important;
    }
    &::after {
      border: none !important;
    }
  }

  @media (max-width: 767.98px) {
    display: none;
  }
}

.line {
  display: inline-block;
  height: 2px;
  width: 113px;
  background-color: #fff;
  margin: 0px 8px 35px 3px;
}

.Landscape {
  width: 100%;
  padding: 1rem;
}

.fontH1 {
  text-transform: uppercase;
  font-size: 40px;
  // font-weight: 500;
}

.lineH1 {
  height: 1px;
  background: #efefef;
  margin-bottom: 70px;
  font-weight: bold;
}

.lineH2 {
  height: 1px;
  background: #efefef;
  width: 80px;
  margin: 2rem auto;
}

.teamContainer {
  background: url("./img/dev-team.png") top center no-repeat;
  background-size: cover;
  color: #f9fafc;
  height: 390px;
  .content {
    text-align: center;
  }
  .title {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .button {
    margin-top: 0;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 10px 50px;
    // border-radius: 0;
  }
  p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.button {
  margin-top: 60px;
}

@media (max-width: 767.98px) {
  .carousel {
    > div {
      > a {
        display: flex;
      }
    }
    .carouselItem {
      .imgRatio {
        height: initial;
        padding-bottom: 137%;
      }
    }
  }

  .teamContainer {
    color: #fff;
    height: 420px;
    .title {
      margin: 60px 0;
    }
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    a {
      width: 100%;
      font-weight: bold;
    }
  }

  .subscribe {
    width: 100%;

    button {
      line-height: initial;
      margin-top: 20px;
      background: linear-gradient(
        315deg,
        rgba(254, 56, 118, 1) 0%,
        rgba(124, 48, 221, 1) 71%,
        rgba(58, 48, 221, 1) 100%
      );
      border-radius: 4px;
      font-weight: bold;
      padding: 0.59rem 0.75rem;
      border: none;
      outline: none;
    }
  }

  .lineH1 {
    height: 2px;
    background: #efefef;
    margin-bottom: 30px;
  }

  .lineH2 {
    height: 2px;
    background: #fff;
    width: 80px;
    margin: 2rem auto;
  }

  .fontH1 {
    font-size: 24px;
    margin-bottom: 15px;
    // font-weight: bold;
  }

  .line {
    display: none;
  }

  .button {
    margin-bottom: 20px;
  }
}

.commonContainer {
  padding-top: 88px;
  padding-bottom: 80px;

  @media screen and (max-width: 768px) {
  }
}

.slogan {
  padding-top: 270px;
  padding-bottom: 185px;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  @media screen and (max-width: 768px) {
    video {
      display: none;
    }

    background-image: url("./img/hero-m.svg");
    background-size: cover;
    padding-top: 358px;
    padding-bottom: 60px;
  }
}

.sloganTitle {
  font-size: 49px;
  font-weight: bold;
  color: #ffffff;
  line-height: 65px;

  @media screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 52px;
  }
}

.sloganSubtitle {
  font-size: 42px;
  font-weight: normal;
  color: #ffffff;
  font-family: IBMPlexSans;
  font-style: italic;
  margin-top: 8px;

  @media screen and (max-width: 768px) {
    font-size: 29px;
    line-height: 38px;
  }
}

.sloganBtnGround {
  margin-top: 30px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.slogonBtnText {
  margin-left: 18px;
  padding: 10px 26px;

  &:first-child {
    margin-left: 0;
  }

  span {
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    color: #000000;
    background: linear-gradient(315deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    margin-top: 18px;

    &:first-child {
      margin-top: 0;
    }

    span {
      font-size: 14px;
      font-weight: 600;
      line-height: 26px;
    }
  }
}

.darwiniaTech {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
  align-content: center;

  @media (max-width: 767.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.darwiniaTechItem {
  display: flex;

  img {
    width: 172px;
  }

  h5 {
    font-size: 22px;
    font-weight: 600;
    color: #080c20;
    line-height: 29px;
    background: linear-gradient(315deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: 16px;
    color: #6330dd;
    line-height: 20px;
  }

  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: center;
  }
}

.btnLight {
  background: #ffffff;
  border-radius: 4px;
  border: none;
  width: 40%;
  padding: {
    top: 10px;
    bottom: 10px;
  }

  &:hover {
    background: #ffffff;
  }

  > span {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 26px;
    background: linear-gradient(315deg, #ff1f65 0%, #811eff 71%, #2a1dff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.btnGradient {
  background: linear-gradient(315deg, #ff1f65 0%, #811eff 71%, #2a1dff 100%);
  border-radius: 4px;
  border: none;
  width: 40%;
  padding: {
    top: 10px;
    bottom: 10px;
  }

  > span {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 26px;
  }

  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.powering {
  background-image: url("./img/powering/bg.png");
  background-size: cover;

  @media (max-width: 767.98px) {
    background-image: url("./img/powering/bg-m.png");
  }
}

.poweringTitle {
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
  line-height: 52px;
  letter-spacing: 2px;
}

.poweringDesc {
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  padding: 20px;
}

.poweringCardGrounp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 24px;
  margin-top: 18px;

  @media (max-width: 767.98px) {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.poweringCard {
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 14px 20px;

  .name {
    font-size: 24px;
    font-weight: 600;
    color: #080c20;
    line-height: 32px;
    letter-spacing: 1px;
    background: linear-gradient(315deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 16px;
  }

  .token {
    width: 80px;
  }

  .chain {
    width: 24px;
    margin-right: 2px;
  }

  .content {
    margin-top: 6px;
    font-size: 16px;
    color: #6330dd;
    line-height: 20px;
  }

  button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
  }

  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}

.supportersTitle {
  font-size: 40px;
  font-weight: 500;
  color: #080c20;
  line-height: 52px;
  background: linear-gradient(315deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.supportersSubtitle {
  font-size: 22px;
  font-weight: 600;
  color: #080c20;
  line-height: 29px;
  background: linear-gradient(315deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: flex-start;
  margin-top: 50px;
  margin-bottom: 30px;

  @media (max-width: 767.98px) {
    align-self: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.grantsGrounp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  img {
    width: 100%;
  }

  p {
    display: none;
  }

  @media (max-width: 767.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      display: block;
      font-size: 14px;
      color: #6330dd;
      line-height: 20px;
      padding-top: 14px;
      padding-bottom: 8px;
    }
  }
}

.projectsGrounp,
.partnersGrounp {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  background: #fbfbfb;
  padding: 16px;

  img {
    width: 100%;
  }

  @media (max-width: 767.98px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    column-gap: 6px;
    row-gap: 6px;
  }
}
