@import "../../style/index";

.promoteContentArea {
  text-align: left;
  padding-top: 100px;
  padding-bottom: 70px;
  .slogan {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
  }

  .slideLogo {
    width: 222px;
    margin-bottom: 93px;
  }

  .subTitle {
    text-align: left;
    margin-bottom: 40px !important;
    width: 95%;
    // font-weight:600;
  }

  div {
    p {
      color: #fff;
      font-size: 20px;
      line-height: 1.3;
    }
  }
}

.gradientText {
  text-transform: uppercase;
  font-size: 40px;
  color: rgba(8, 12, 32, 1);
  letter-spacing: 2px;
  background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.launchBanner {
  // background: url("./img/launch-banner.png") top center no-repeat;
  // background-size: cover;
  // height: 412px;
  img {
    width: 100%;
  }
}
.carousel {
  // margin: 100px 0;
  > div {
    > a {
      display: none;
    }
  }
  .carouselItem {
    .imgRatio {
      display: block;
      // padding-bottom: 26%;
      height: 412px;
      position: relative;
      // > div > div {
      //   width: 100%;
      // }
      img {
        background-color: #f7f7f7;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .mediaInfo {
      margin: 10px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #6330DD;
      .mediaTime {
        font-size: 12px;
        color: #201550;
      }
    }
    .mediaDesc {
      font-family: "Rajdhani";
      font-size: 16px;
    }
  }
}

.themeContainer {
  // background: url("./img/theme-bg.png") top center no-repeat;
  // background-size: cover;
  // height: 412px;
  .promoteContentArea {
    padding: 100px 0;
    .bands {
      margin-bottom: 40px;   
      .imgRatio {
        padding-bottom: 40.7%;
        position: relative;
        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .bandDesc {
        margin-top: 20px;
        text-align: center;
        color: #6330DD;
        font-size: 14px;
      }
    }
    div {
      h1 {
        font-size: 40px;
        margin-bottom: 20px;
      }
      p {
        text-align: center;
        font-size: 16px;
        color: #333;
        // padding: 0 100px;
        line-height: 21px;
        margin-bottom: 50px;
      }
      .subscribe {
        margin: 0 auto;
        width: 30%;
      }

      .subscribeTip {
        text-align: center;
      }
    }
  }
}

.highlightContainer {

  // padding: 60px 0 100px 0;
  img {
    width: 100%;
    margin-bottom: 23px;
  }

  h3 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
    // color: #6330DD;
    // font-weight: bold;
    line-height: 20px;
  }

  .keyItem {
    p {
      font-size: 14px;
    }
  }

  @media (min-width: 992px) {
    .lg5 {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}

.economicContainer {
  text-align: center;
  padding: 150px 0;

  h1 {
    display: inline-block;
    margin-bottom: 90px;
  }

  .title {
    text-align: left;
  }

  .bridge {
    // width: 577px;
  }

  .economicCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .economicItem {
    text-align: left;

    .economicItemHeader {
      display: flex;
      margin-bottom: 10px;
      align-items: center;

      div {
        display: flex;
        align-items: center;
        margin-right: 20px;
        > img {
          margin-bottom: 0;
          width: 30px;
          height: 30px;
          margin-right: 20px;
        }
        > span {
          font-size: 26px;
          line-height: 30px;
          letter-spacing: normal;
          font-weight: bold;
        }
      }

      p {
        margin-bottom: 0;

        a {
          margin-right: 10px;
          img {
            width: 21px;
            height: 21px;
            margin-bottom: 0;
            opacity: .5;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    .economicItemContent {
      text-align: left;
      line-height: 24px;
      margin-bottom: 10px;

      p {
        margin-bottom: 7px;
      }
    }
  }
}

.partnersContainer {
  padding-top: 100px;
  // padding-bottom: 100px;
  // background: #f8f8f8;

  h1 {
    display: inline-block;
    margin-bottom: 80px;
  }

  .title {
    text-align: left;
  }

  &>div>div>div {
    text-align: center;
    margin-bottom: 50px;
  }

  img {
    max-height: 80px;
    max-width: 100%;
  }

  h3 {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    color: #201550;
  }

  a:hover {
    text-decoration: none;
    color: #201550;
  }
}

.newContainer {
  padding-top: 60px;
  padding-bottom: 100px;
  background: #fff;

  h1 {
    display: inline-block;
    margin-bottom: 90px;
  }

  .title {
    text-align: left;
  }

  h3 {
    text-align: left;
  }

  .imgUrl {
    display: inline-block;
    color: $text-main;
    width: 100%;
    &:hover {
      text-decoration: none;
    }
  }

  .imgRatio {
    padding-bottom: 70%;
    position: relative;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .mediaInfo {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6330DD;
    .mediaTime {
      font-weight: bold;
      letter-spacing: 0.5px;
      line-height: 20px;
      font-size: 12px;
      order: -1;
      opacity: .5;
      color: #6330DD;
    }
  }
  .mediaDesc {
    font-family: "Rajdhani";
    font-size: 16px;
  }

  .button {
    font-weight: 600;
    font-size: 14px;
    padding: 10px 75px;
    border-radius: 0;
  }
}


.line {
  display: inline-block;
  height: 2px;
  width: 113px;
  background-color: #fff;
  margin: 0px 8px 35px 3px;
}

.subscribe {
  width: 50%;

  input {
    border-radius: 0;
    height: 40px;
    border: 1px solid #3E30DD;
    background-clip: initial;
    font-weight: bold;
    font-size: 14px;
    &::placeholder {
      color: #6330DD;
      opacity: 0.3;
    }
  }

  button {
    box-shadow: none !important;
    line-height: initial;
    border: 0;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
  }
}

.Landscape {
  width: 100%;
  padding: 1rem;
}

.fontH1 {
  text-transform: uppercase;
  font-size: 40px;
}

.lineH1 {
  height: 1px;
  background: #EFEFEF;
  margin-bottom: 70px;
  font-weight: bold;
}

.lineH2 {
  height: 1px;
  background: #EFEFEF;
  width: 80px;
  margin: 2rem auto;
}


.applicationContainer {
  background: url("./img/application/app-bg.jpg") top center no-repeat;
  background-size: cover;
  // height: 720px;
  padding-top: 68px;
  padding-bottom: 68px;

  h1 {
    color: #fff;
    display: inline-block;
    margin-bottom: 90px;
  }
  .appItem {
    padding-right: 55px;
  }
  .title {
    text-align: left;
  }

  img {
    margin-bottom: 50px;
  }

  h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
  }

  p {
    color: #fff;
    text-align: left;
    line-height: 24px;
  }
}

.architectureContainer {
  background: url("./img/architecture-bg.png") top center no-repeat;
  // padding: 60px 0 88px 0;
  // background: url("./img/architecture-bg.png");
  background-size: cover;
  padding: 70px 0 110px 0;

  // height: 782px;
  .fontH1 {
    // padding-top: 70px;
    // font-size: 40px;
    margin-bottom: 73px;
    color: #fff;
  }

  img {
    width: 100%;
  }

  .archWrapper {
    position: relative;
    // padding: 0 10%;
    .opacityBg {
      position: absolute;
    }
  }

  .anime {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    >div {
      padding-top: 32%;
      position: relative;
    }

    img {
      position: absolute;
    }

    .solo {
      // width: 2.5%;
      width: 28px;
      margin-left: 45.7%;

      :global {
        animation: solo 6s ease-in-out infinite both;
      }
    }

    .chain {
      // width: 3.0%;
      width: 34px;
      margin-left: 49.4%;

      :global {
        animation: chain 6s ease-in-out infinite both;
      }
    }

    button {
      cursor: default;
      pointer-events: none;
      height: 11%;
      line-height: 1;
      border: none;
      text-align: center;
      font-size: 20px;
      border-radius: 0;
    }

    .soloBtn {
      margin-left: 28.5%;
      background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
      color: #fff;
      width: 9.2%;
      position: absolute;
      padding: 0;
    }

    .soloWhiteBtn {
      background: white;
      color: #1e1e1e;

      :global {
        animation: 6s ease-in-out infinite both soloWhiteBtn;
      }
    }

    .chainBtn {
      margin-left: 58%;
      width: 13.8%;
      position: absolute;
      background: white;
      color: #1e1e1e;
    }

    .chainPinkBtn {
      border: 0;
      color: #fff;
      background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);

      :global {
        animation: 6s ease-in-out infinite both chainPinkBtn;
      }
    }

    @keyframes :global(chainPinkBtn) {

      0%,
      33% {
        opacity: 0;
      }

      50%,
      83% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    @keyframes :global(soloWhiteBtn) {

      0%,
      33% {
        opacity: 0;
      }

      50%,
      83% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    @keyframes :global(chain) {

      0%,
      33% {
        transform: translate(0, 0);
      }

      50%,
      83% {
        transform: translate(-30%, 0);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    @keyframes :global(solo) {

      0%,
      33% {
        transform: translate(0, 0);
      }

      50%,
      83% {
        transform: translate(32%, 0);
      }

      100% {
        transform: translate(0, 0);
      }
    }
  }
}

.roadmapContainer {
  padding: 100px 0;
  color: #5430DD;

  h1 {
    display: inline-block;
    margin-bottom: 80px;
  }

  .title {
    text-align: left;
  }

  .content {
    text-align: center;
  }

  img {
    width: 100%;
  }
  .holderCol {
    display: flex;
    align-items: center;
    max-width: 68px;
  }
  .curCol {
    padding: 0;
  }
  .roadmapRow {
    margin-top: 30px;
  }
  .label {
    margin-top: 30px;
    font-size: 20px;
    > div {
      padding: 0;
    }
    p {
      margin-bottom: 0;
    }
  }

  .status {
    color: #E93787;
    font-size: 24px;

    p {
      margin-bottom: 0;
    }
  }

  .button {
    font-weight: 600;
    font-size: 14px;
    padding: 10px 50px;
    border-radius: 0;
  }
}

.teamContainer {
  background: url("./img/dev-team.png") top center no-repeat;
  background-size: cover;
  color: #F9FAFC;
  height: 360px;
  .content {
    text-align: center;
  }
  .title {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 40px;
  }
  .button {
    margin-top: 0;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 10px 50px;
    border-radius: 0;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.subscribeTip {
  font-size: 16px !important;
  // color: #fff !important;
}


.button {
  margin-top: 60px;
}

@media (max-width: 767.98px) {
  .promoteContentArea {
    padding-top: 90px;
    padding-bottom: 70px;

    .slogan {
      text-transform: uppercase;
      text-align: center;
      font-size: 26px;
      margin-top: 40px;
      line-height: 33px;
      margin-bottom: 50px;
    }

    .subTitle {
      font-size: 16px;
      text-align: center;
      margin-bottom: 30px !important;
      width: 100% !important;
    }

    img {
      width: 203px;
    }
  }

  .carousel {
    > div {
      > a {
        display: flex;
      }
    }
    .carouselItem {
      .imgRatio {
        height: initial;
        padding-bottom: 137%;
        img {
        }
      }
      .mediaInfo {
        .mediaTime {
        }
      }
      .mediaDesc {
        
      }
    }
  }

  .themeContainer {
    .promoteContentArea {
      padding: 100px 0 100px;
      div {
        h1 {
          font-size: 24px;
          letter-spacing: 1px;
        }
        p {
          font-size: 16px;
          padding: 0;
          text-align: left;
        }
        .subscribe {
          width: 100%;
          button {
            border-radius: 0;
          }
        }
      }
    }
  }

  .highlightContainer {
    padding: 30px 0 20px 0;

    img {
      width: 100%;
      margin-bottom: 26px;
    }

    h3 {
      font-size: 20px;
      text-align: center;
      height: auto;
      margin-bottom: 1rem;
    }

    p {
      font-size: 14px;
      // color: #6330DD;
      margin-bottom: 50px;
    }

    .lg5 {
      display: flex;

      img {
        width: 140px;
        height: 130px;
        margin-bottom: 10px;
      }

      .keyItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        margin-bottom: 10px;
        align-items: flex-start;

        h3 {
          text-align: left;
        }

        p {
          margin-bottom: 0;
          text-align: left;
        }
      }
    }
  }

  .architectureContainer {
    background: url("./img/architecture-bg-m.png") top center no-repeat;
    background-size: cover;
    padding: 50px 0 60px 0;
  }

  .economicContainer {
    padding: 100px 0 0;
    text-align: center;
    .title {
      text-align: center;
    }
    h1 {
      margin-bottom: 30px;
    }
    .economicImg {
      img {
        margin-bottom: 40px;
      }
    }
    .economicItem {
      .economicItemHeader {
        p {
          display: none;
        }
      }
      .economicItemContent {
        margin-bottom: 40px;
        p {
          font-size: 16px;
          line-height: 24px;
        }

        .addToken {
          display: none;
        }
      }
    }
  }
  .applicationContainer {
    padding: 50px 0 0;
    background: none;
    height: initial;
    .title {
      text-align: center;
    }
    h1 {
      margin-bottom: 30px;
    }
    .appItem {
      padding-right: 15px;
    }
    h3 {
      color: #201550;
      margin-bottom: .5rem;
    }
    p {
      color: #333;
      font-size: 16px;
    }

  }
  .roadmapContainer {
    padding: 50px 0 90px 0;
    text-align: left;
    .title {
      text-align: center;
    }
    h1 {
      margin-bottom: 30px;
    }
    .placeholderCol {
      padding: 0;
    }
    .nospace {
      padding-left: 10px;
      padding-right: 0;

      p {
        // text-align: center;
        text-align: left;
        margin-bottom: 0px;
      }

      &>div>div {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .content {
      margin: 35px;
    }

    img {
      width: 100%;
      // padding: 0 60px;
    }

    .roadMapImageBox {
      margin: 4% 0;
      margin-bottom: 6%;
    }

    // .crayfishCol {
    //   margin-top: 10px;
    // }

    // .icefrogCol {
    //   margin: 30px 0 0;
    // }

    // .crabCol {
    //   margin: 30px 0 0;
    // }

    

    // .lastCol {
      // margin-top: -10px;
      // padding-right: 15px;
    // }

    .label {
      height: 100%;
      margin-top: 0;
      margin-left: 0px;
      margin-right: 0px;
      font-weight: bold;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      font-size: 16px;
      .time {
        color: #E93787;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 0;
        min-height: 26px;
      }

      div {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // align-items: center;
        flex: 1;
        &.mainnetCol {
          padding-bottom: 10px;
        }
        &.lastCol {
          padding-bottom: 20px;
        }
        &.Col1 {
          padding-top: 5px;
        }
        &.Col2 {
          padding-top: 10px;
        }
        &.Col3 {
          padding-top: 10px;
        }
        &.Col5 {
          padding-bottom: 15px;
        }
        p+p {
          margin-bottom: 0
        }
      }
    }
  }

  .teamContainer {
    color: #fff;

    h1 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    a {
      width: 100%;
      font-weight: bold;
    }
  }
  .partnersContainer {
    padding-top: 100px;
    padding-bottom: 80px;
    .title {
      text-align: center;
    }
    img {
      max-height: initial;
    }
    h1 {
      margin-bottom: 30px;
    }
    h3 {
      font-size: 16px;
      margin-bottom: 0;
    }
    > div {
      > div {
        // &:nth-child(odd) {
        //   padding: 0 5px 0 10px;
        // }
        // &:nth-child(even) {
        //   padding: 0 10px 0 5px;
        // }
        > div {
          margin-bottom: 20px;
          &:nth-child(odd) {
            padding: 0 10px 0 20px;
          }
          &:nth-child(even) {
            padding: 0 20px 0 10px;
          }
        }
      }
    }
  }

  .newContainer {
    background: #fff;
    padding: 0 0 70px;
    .title {
      text-align: center;
    }
    h3 {
      font-size: 16px;
      text-align: left;
      margin-bottom: 40px;

      a {
        color: $text-main;
      }
    }
    h1 {
      margin-bottom: 30px;
    }
    .button {
      margin-top: 0;
    }
    .mediaInfo {
      .mediaTime {
        font-weight: bold;
        letter-spacing: 0.5px;
        line-height: 20px;
        font-size: 12px;
        order: -1;
        opacity: .5;
        color: #6330DD;
      }
    }
    .mediaDesc {
      margin-bottom: 30px;
    }
  }

  .subscribe {
    width: 100%;

    button {
      line-height: initial;
      margin-top: 20px;
      background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
      border-radius: 4px;
      font-weight: bold;
      padding: .59rem .75rem;
      border: none;
      outline: none;
    }
  }

  .lineH1 {
    height: 2px;
    background: #EFEFEF;
    margin-bottom: 30px;
  }

  .lineH2 {
    height: 2px;
    background: #fff;
    width: 80px;
    margin: 2rem auto;
  }

  .fontH1 {
    font-size: 24px;
    margin-bottom: 15px;
    // font-weight: bold;
  }

  .line {
    display: none;
  }

  .button {
    margin-bottom: 20px;
  }
}


//@media (min-width: 576px) and(max-width: 768px) {
//  .highlightContainer {
//    padding: 30px 0 20px 0;
//    h3 {
//      font-size: 20px;
//      text-align: center;
//      height: auto;
//      margin-bottom: 1rem;
//    }
//    p {
//      font-size: 14px;
//      color: #6330DD;
//      margin-bottom: 50px;
//    }
//  }
//}