.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 20px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding-top: 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  order: 1;

  @media screen and (max-width: 1024px) {
    order: 2;
  }
}

.icon {
  width: 680px;
  margin-left: 10px;
  order: 2;

  @media screen and (max-width: 1024px) {
    order: 1;
    width: 345px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }

  .title {
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    color: #1e3676;

    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }

  .desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #555555;
    margin-top: 10px;
  }
}
