.pageSection {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  width: 100%;
  &:first-child {
    margin-top: 160px;
    @media (max-width: 767.98px) {
      margin-top: 120px;
    }
  }
  @media (max-width: 767.98px) {
    margin: 90px 0;
  }
}

.pageSubHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  @media (max-width: 767.98px) {
    margin-bottom: 30px;
  }
}

.pageSubTitle {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  display: inline;
  background: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);
  background-clip: text;
  color: transparent;
  @media (max-width: 767.98px) {
    font-size: 20px;
    line-height: 32px;
  }
}

.pageSeeMoreBtn {
  border: 1px solid #201550;
  box-sizing: border-box;
  padding: 6px 20px;
  border-radius: 4px;
  @media (max-width: 767.98px) {
    padding: 3px 10px;
  }

  > span {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #080c20;
    @media (max-width: 767.98px) {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.contentCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 40px;
  width: 100%;
  @media (max-width: 767.98px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
}

.contentCard {
  display: flex;
  flex-direction: column;
}

.contentCardLink {
  >img {
    width: 100%;
    border-radius: 4px;
  }
}

.contentCardTags {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.contentCardTag {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #adadad;
  @media (max-width: 767.98px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
}

.contentCardTitle {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  @media (max-width: 767.98px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
}

.contentCardAbstract {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #555555;
  margin-bottom: 8px;
  @media (max-width: 767.98px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.contentCardTime {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #adadad;
  @media (max-width: 767.98px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
}

.contentSubCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 40px;
  margin-top: 40px;
  @media (max-width: 767.98px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

.contentSubCard {
  display: flex;
  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}

.contentSubCardLink {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 4px;
  >img {
    position: absolute;
    top: -40px;
    left: -90px;
    width: fit-content;
    height: fit-content;
  }
  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.contentSubCardContent {
  width: calc(100% - 120px - 20px);
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  @media (max-width: 767.98px) {
    width: 100%;
    margin-left: 0;
  }
}

.contentSubCardContentTags {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  @media (max-width: 767.98px) {
    margin-top: 6px;
  }
}

.contentSubCardContentTag {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #adadad;
  mix-blend-mode: normal;
  @media (max-width: 767.98px) {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
}

.contentSubCardContentTitle {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  @media (max-width: 767.98px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}
