@import "../../style/index";

.navLink {
  color: $text-main;
  font-weight: bold;
}

.navFooter {
  background: #201550;
  position: relative;
  color: #7b70ae;
  padding: 24px;
  img {
    width: 25px;
    height: 25px;
    margin-left: 24px;
  }
}

.shareLogo {
  cursor: pointer;
}

.subscribe {
  width: 30%;

  input {
    border-radius: 0;
    border: 1px solid #3e30dd;
    background-clip: initial;
    font-weight: bold;
    font-size: 14px;
    &::placeholder {
      color: #6330dd;
      opacity: 0.3;
    }
  }

  button {
    box-shadow: none !important;
    line-height: initial;
    border: 0;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
  }
}

.subscribeTip {
  font-size: 16px !important;
  // color: #fff !important;
}

.wxContainer {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(22, 17, 75, 0.3);
  border-radius: 4px;
  text-align: center;
  //position: absolute;
  //right: 0;
  //bottom: 0;
  img {
    width: 110px;
    height: 110px;
    margin-left: 0;
  }
  p {
    font-size: 12px;
    color: #000;
    margin-bottom: 0px;
  }
}

.mdContent {
  img {
  }
}

.map {
  background: #201550;
  padding-top: 70px;
  width: 100%;
  small {
    margin-bottom: 50px;
  }
  .line {
    margin-top: 40px;
    height: 2px;
    background-color: #34295f;
  }
  h1 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 26px;
    text-transform: uppercase;
  }
  p {
    color: #7b70ae;
  }
  a {
    color: #7b70ae;
    font-size: fontSize(16px);
  }
  .footerIcon {
    width: 100%;
    max-width: 220px;
    margin-bottom: 20px;
  }
  .shareLogo {
    & > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.xsContent {
  display: none;

  .logoContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  img {
  }

  .copyright {
    margin-top: 50px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .mdContent {
    display: none;
  }

  .xsContent {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
  }

  .navFooter {
    padding-top: 35px;

    img {
      margin-left: 0;
      width: 28px;
      height: 28px;
    }
  }
}

//@media (max-width: 768px) {
//  .mdContent{
//    text-align: center;
//    .shareLogo{
//      text-align: center!important;
//      margin-bottom: 20px;
//      img{
//        margin-left: 25px;
//        margin-right: 25px;
//      }
//    }
//  }
//}
