@import "../../style/index";

.faq {
  text-align: left;
  padding: 60px 0;
  // min-height: calc(100vh - 132px);
  h1 {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0;
  }
  h2 {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 1.5px;
  }
  h4 {
    font-size: 22px;
    margin: 50px 0 20px;
    font-weight: bold;
    font-family: "SFUIDisplay-Medium", "SFUIDisplay";
  }
  .title {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }
  p {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: "SFUIDisplay-Regular", "SFUIDisplay";
  }

  .content {
    padding: 0 25px 70px 35px;
    box-sizing: border-box;
  }
  .mediaBlocks {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .imgUrl {
    display: inline-block;
    color: $text-main;
    width: 100%;
    &:hover {
      text-decoration: none;
    }
  }
  .mediaBlock {
    list-style-type: none;
    width: 270px;
    .imgRatio {
      padding-bottom: 63%;
      position: relative;
      img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .mediaInfo {
      margin: 10px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #6330dd;
      .mediaTime {
        font-weight: bold;
        letter-spacing: 0.5px;
        line-height: 20px;
        font-size: 12px;
        order: -1;
        opacity: 0.5;
        color: #6330dd;
      }
    }
    .mediaDesc {
      font-size: 16px;
    }
  }
}

.fontH1 {
  font-size: 35px;
}

.lineH1 {
  height: 1px;
  margin-bottom: 50px;
  margin-top: 50px;
  background: linear-gradient(315deg, #fe3876 0%, #7c30dd 72%, #3a30dd 100%);
}

.gradientText {
  text-transform: uppercase;
  font-size: 40px;
  color: rgba(8, 12, 32, 1);
  letter-spacing: 2px;
  background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 575.98px) {
  .faq {
    padding: 40px 0 0;
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      margin-bottom: 20px;
    }
    .mediaBlock {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .lineH1 {
    height: 2px;
    margin-bottom: 30px;
    margin-top: 15px;
  }
}
