@import "../../style/index";

.faq {
  text-align: left;
  padding: 60px 0 100px 0;
  min-height: calc(100vh - 132px);
  h1{
    text-align: center;
    font-weight: bold;
  }
  h3{
    font-size:20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  p{
    font-size: 14px;
    color: #6330DD;
  }

  .content{
    padding: 0 25px 70px 35px;
    box-sizing: border-box;
  }
}

.lineH1 {
  height: 1px;
  background: #EFEFEF;
  margin-bottom: 70px;
  margin-top: 30px;
}

@media (max-width: 575.98px) {
  .faq{
    h1{
      font-size: 26px;
    }
    h3{
      margin-bottom: 20px;
    }

    .content{
      padding: 0 25px 50px 35px;
    }
  }

  .lineH1 {
    height: 2px;
    margin-bottom: 30px;
    margin-top: 15px;
  }
}
