.main {
  background: transparent;
  padding-top: 12px;
  padding-bottom: 8px;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all 0.8s;

  &.hasFixed {
    background-color: #ffffff;
  }
}

.logo {
  width: 178px;
}

.navToggle {
  > span {
    background-image: url("./img/menu-white.png");
  }

  &.hasFixed {
    > span {
      background-image: url("./img/menu.png");
    }
  }
}

.navLinkText {
  :global {
    .dropdown-menu {
      top: 120%;
      left: auto;
      right: -200px;

      &:before {
        content: "";
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 12px solid #ffffff;
        bottom: 100%;
        left: auto;
        right: 235px;
      }

      @media screen and (max-width: 991.98px) {
        position: relative !important;
        transform: none !important;
        background: transparent !important;

        &:before {
          border: none;
        }
      }
    }
  }

  font-size: 16px !important;
  font-weight: 600 !important;
  color: #ffffff !important;
  line-height: 20px !important;
  margin-left: 10px !important;

  > a {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #ffffff !important;
    line-height: 20px !important;
  }

  &.hasFixed {
    color: #6330dd !important;

    > a {
      color: #6330dd !important;
    }
  }

  @media screen and (max-width: 991.98px) {
    padding: {
      top: 18px;
      bottom: 18px;
    }

    font-size: 18px !important;
    line-height: 23px !important;

    > a {
      font-size: 18px !important;
      line-height: 23px !important;
    }
  }
}

.apps {
  width: 70px;
  height: 34px;
  background: #ffffff;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;

  > span {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    color: #ffffff;
    line-height: 26px;
    background: linear-gradient(315deg, #ff1f65 0%, #811eff 71%, #2a1dff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.hasFixed {
    background: linear-gradient(315deg, #ff1f65 0%, #811eff 71%, #2a1dff 100%);

    > span {
      color: #ffffff;
      -webkit-background-clip: unset;
      background-clip: unset;
      -webkit-text-fill-color: unset;
    }
  }

  @media screen and (max-width: 991.98px) {
    margin-top: 40px;
    width: 80%;
    height: 44px;

    > span {
      color: #ffffff;
      background: linear-gradient(315deg, #ff1f65 0%, #811eff 71%, #2a1dff 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.mask {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: auto;
  transition: all 0.5s;
  z-index: 1;

  &.hidden {
    width: 0;
  }
}

.collapse {
  background-image: url("./img/collapse-bg.svg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 75%;
  height: 100%;
}

.closeBtn {
  border: none;
  background: transparent;
}

.landBtn {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  line-height: 28px;
  letter-spacing: 1px;
  border: none;
  background: transparent;

  &:hover {
    background: transparent;
    border: none;
  }
}

// ================== DropdownCard Begin ==================
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  justify-items: center;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  padding: 0 20px;

  @media screen and (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    padding-left: 20px;
  }
}

.cardItem {
  display: flex;
  align-items: flex-start;
  padding: 12px 10px;
  width: 280px;

  &:hover {
    cursor: pointer;
    background: #f1e8ff;
    border-radius: 4px;
  }

  img {
    width: 55px;
    margin-right: 10px;
  }

  h5 {
    width: fit-content;
    text-align: start;
    font-size: 14px;
    font-weight: 600;
    color: #080c20;
    line-height: 16px;
    background: linear-gradient(315deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }

  p {
    width: fit-content;
    text-align: start;
    font-size: 12px;
    color: #6330dd;
    line-height: 15px;
    margin: 0 !important;
    margin-top: 8px;
    padding: 0;
  }

  @media screen and (max-width: 991.98px) {
    img {
      display: none;
    }

    h5 {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      line-height: 20px;
      -webkit-background-clip: unset;
      background-clip: unset;
      -webkit-text-fill-color: unset;
      background: unset;
    }

    p {
      display: none;
    }

    &:hover {
      background: none;
      text-decoration: none;
    }
  }
}
// ================== DropdownCard End   ==================
