@import "../../style/index";

.article {
  text-align: left;
  padding: 40px 0 50px 0;
  font-family: "SFUIDisplay-Regular", "SFUIDisplay";
  // min-height: calc(100vh - 132px);
  h1 {
    display: inline-block;
    margin-bottom: 30px;
    letter-spacing: 2.5px;
    font-family: "Rajdhani";
  }
  h2 {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 1.5px;
    font-family: "Rajdhani";
  }

  h3 {
    font-size: 26px;
    font-weight: bold;
    margin: 30px 0 15px;
    font-family: "SFUIDisplay-Medium", "SFUIDisplay";
  }
  h4 {
    font-size: 22px;
    margin: 30px 0 15px;
    font-weight: bold;
    font-family: "SFUIDisplay-Medium", "SFUIDisplay";
  }
  .title {
    text-align: left;
  }
  .subTitle {
    margin: 30px 0 15px;
    font-size: 30px;
    font-family: "SFUIDisplay-Semibold", "SFUIDisplay";
    font-weight: bold;
  }
  .subContent {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .author {
    font-size: 20px;
    span {
      margin-right: 20px;
    }
  }
  .banner {
    width: 100%;
    // background: url("./img/banner.png") top center no-repeat;
    // background-size: cover;
    // height: 573px;
  }
  .content {
    p {
      margin-bottom: 5px;
      font-size: 14px;
    }
    .howDesc {
      margin-bottom: 30px;
    }
    .button {
      margin-top: 30px;
      font-weight: 600;
      font-size: 14px;
      padding: 10px 75px;
      border-radius: 0;
    }
    .link {
      font-size: 14px;
      color: #3859FF;
      text-decoration: underline;
    }
    .mediaBlocks {
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .imgUrl{
      display: inline-block;
      color: $text-main;
      width: 100%;
      &:hover {
        text-decoration: none;
      }
    }
    .mediaBlock {
      list-style-type: none;
      width: 270px;
      .imgRatio {
        padding-bottom: 63%;
        position: relative;
        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .mediaInfo {
        margin: 10px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #6330DD;
        .mediaTime {
          font-weight: bold;
          letter-spacing: 0.5px;
          line-height: 20px;
          font-size: 12px;
          order: -1;
          opacity: .5;
          color: #6330DD;
        }
      }
      .mediaDesc {
        font-family: "Rajdhani";
        font-size: 16px;
      }
    }
  }
}

.fontH1 {
  font-size: 35px;
}

.lineH1 {
  height: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
  background: linear-gradient(315deg, #FE3876 0%, #7C30DD 72%, #3A30DD 100%);
}

.gradientText {
  text-transform: uppercase;
  font-size: 40px;
  color: rgba(8, 12, 32, 1);
  letter-spacing: 2px;
  background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 575.98px) {
  .article {
    padding: 40px 0 0;
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      margin-bottom: 20px;
    }

    .content {
      // padding: 0 25px 50px 35px;
      .mediaBlock {
        width: 100%;
        margin-bottom: 50px;
      }
    }
  }

  .lineH1 {
    height: 2px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
