.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-logo {
  width: 117px;
}

.banner-content {
  .title {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
  }

  .desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #8A898B;
  }
}

.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 17px;
  border: none;
  background: linear-gradient(270deg, #FF0050 0%, #7000FF 71.44%, #0027FF 100%);
  border-radius: 10px;

  >span {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
}
