.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 20px;
}

.bridge {
  width: 578px;

  @media screen and (max-width: 1024px) {
    width: 345px;
  }
}

.link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sign-up-for-wautlist-link,
.join-our-crowdloan-link {
  background: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);
  border-radius: 10px;
  height: 40px;
  width: 174px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
  }

  > span {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }

  @media screen and (max-width: 1024px) {
    width: 48%;
  }
}

.learn-more-link {
  background-clip: content-box, border-box;
  background-image: linear-gradient(white, white),
    linear-gradient(315deg, rgba(0, 208, 222, 1), rgba(55, 92, 223, 1), rgba(175, 74, 252, 1));
  background-origin: border-box;
  border: solid 1px transparent;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 146px;

  &:hover {
    text-decoration: none;
  }

  > span {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #6604ff;
  }

  @media screen and (max-width: 1024px) {
    width: 48%;
    margin-left: 10px;
  }
}

.title-h2 {
  max-width: 897px;
  font-weight: bold;
  font-size: 46px;
  line-height: 60px;
  text-align: center;
  color: #1e3676;

  @media screen and (max-width: 1024px) {
    font-size: 26px;
    line-height: 34px;
  }
}

.desc {
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #555555;
  margin-top: 20px;
  margin-bottom: 30px;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }
}
