.main {
  background-image: url('./img//bg.png');
  background-repeat: repeat;
  min-height: 100vh;
}

%-base-btn {
  position: relative;
  transition: all 0.3s;
  top: 0;
  border: none;

  &:active {
    top: 2px;
    border: none;
  }
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.heading-container-logo {
  display: flex;
  align-items: center;
}

.heading-container-logo-img {
  height: 26px;
}

.heading-container-logo-plo {
  margin-left: 10px;
  width: 69px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(315.52deg, #FF0050 0.88%, #7000FF 71.7%, #0027FF 100%);
  border-radius: 10px;

  >span {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }
}

.heading-container-connnect-wallet-btn {
  @extend %-base-btn;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 17px;

  background: linear-gradient(270deg, #FF0050 0%, #7000FF 71.44%, #0027FF 100%);
  border-radius: 10px;

  >span {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
  }
}
