@import "../../style/index";

.economic {
  h1 {
    display: inline-block;
    margin-bottom: 30px;
  }
  h2 {
    display: inline-block;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: none;
  }
  p {
    line-height: 25px;
  }
}
.themeContainer {
  // background-image: #f7f7f7;
  background: url("./img/banner-bg.png") top center no-repeat;
  background-size: cover;
  height: 390px;
  h1 {
    margin-top: 117px;
    margin-bottom: 0;
    font-size: 50px;
    // font-weight: 600;
  }
  .content {
    text-align: center;
  }
  h3 {
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
  }
  .buttonSection {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      line-height: initial;
      margin-top: 20px;
      background: linear-gradient(
        315deg,
        rgba(254, 56, 118, 1) 0%,
        rgba(124, 48, 221, 1) 71%,
        rgba(58, 48, 221, 1) 100%
      );
      font-weight: bold;
      padding: 10px 64px;
      border-radius: 0;
      border: none;
      outline: none;
    }
  }
}

.tokenContainer {
  margin: 100px 0 100px;
  img {
    width: 100%;
  }
  .economicItemHeader {
    display: flex;
    margin-bottom: 10px;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      margin-right: 20px;
      > img {
        margin-bottom: 0;
        width: 30px;
        height: 30px;
        margin-right: 20px;
      }
      > span {
        font-size: 26px;
        line-height: 30px;
      }
    }

    p {
      margin-bottom: 0;
      a {
        margin-right: 10px;
        img {
          width: 21px;
          height: 21px;
          margin-bottom: 0;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .economicItemContent {
    text-align: left;
    line-height: 22px;
    margin-bottom: 30px;
    ul {
      margin: 0;
      padding-left: 20px;
    }
    li {
      margin-bottom: 4px;
    }
    p {
      margin-bottom: 4px;
    }
    &.kton {
      margin-bottom: 0;
    }
  }
  .col {
    height: 224px;
    display: flex;
    color: #fff;
    margin-bottom: 30px;
    > div {
      flex: 1 1 auto;
      display: flex;
      // padding: 0 60px 0 0;
      justify-content: space-between;
    }
    .placeHolder {
      flex: 1 1 auto;
    }
    img {
      width: 56px;
      height: 56px;
      margin-bottom: 12px;
    }
    .symbol {
      flex: 0 0 56px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-size: 22px;
        font-weight: bold;
        line-height: 28px;
      }
    }
    .content {
      // max-width: 330px;
      flex: 0 1 330px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
    }
    .item {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      line-height: 22px;
      margin-top: 10px;
      .number {
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
      }
    }
    .itemTitle {
      margin-bottom: 30px;
      margin-top: 0;
    }
  }
  .colRing {
    > div {
      background: linear-gradient(315deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);
    }
    .itemTitle {
      margin-bottom: 30px;
    }
  }
  .colKton {
    > div {
      background: linear-gradient(90deg, #44cc6e 0%, #008f3f 100%);
    }
    .itemTitle {
      margin-bottom: 10px;
    }
  }
}

.stakingContainer {
  margin: 100px 0 100px;
  img {
    width: 100%;
  }
  p {
    margin-bottom: 30px;
  }
  .chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9fafc;
    div {
      font-size: 26px;
      color: #201550;
      line-height: 32px;
      padding-top: 30px;
    }
  }
  .btn {
    margin-top: 20px;
    a {
      padding: 9px 90px;
    }
  }
}

.inflationContainer {
  margin: 100px 0 100px;
  img {
    width: 100%;
  }
  p {
    margin-bottom: 30px;
  }
  .chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9fafc;
    div {
      font-size: 26px;
      color: #201550;
      line-height: 32px;
      padding-top: 30px;
    }
  }
  .chartDesc {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: #333333;
    line-height: 18px;
  }
  .btn {
    margin-top: 20px;
    a {
      padding: 9px 130px;
    }
  }
}

.circulationContainer {
  margin: 100px 0 100px;
  img {
    width: 100%;
  }
  .textCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .subTitle {
    margin-bottom: 20px;
    font-size: 26px;
    color: #201550;
    line-height: 1.2;
  }
  .chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9fafc;
    padding: 30px 35px 20px;
    div {
      font-size: 14px;
      font-weight: 500;
      color: #333333;
      line-height: 18px;
      padding-top: 25px;
    }
  }
}
.modelContainer {
  margin: 100px 0 100px;
  img {
    width: 170px;
    height: 170px;
    margin-right: 32px;
  }
  .chart {
    display: flex;
    .title {
      font-size: 26px;
      color: #201550;
      line-height: 32px;
      margin-bottom: 12px;
    }
  }
  p {
    margin-bottom: 10px;
  }
}
.line {
  display: inline-block;
  height: 2px;
  width: 113px;
  background-color: #fff;
  margin: 0px 8px 35px 3px;
}

.fontH1 {
  text-transform: uppercase;
  font-size: 40px;
}

.lineH1 {
  height: 1px;
  background: #efefef;
  margin-bottom: 70px;
  font-weight: bold;
}

.lineH2 {
  height: 1px;
  background: #efefef;
  width: 80px;
  margin: 2rem auto;
}

.gradientText {
  text-transform: uppercase;
  font-size: 40px;
  color: rgba(8, 12, 32, 1);
  letter-spacing: 2px;
  background: linear-gradient(315deg, rgba(254, 56, 118, 1) 0%, rgba(124, 48, 221, 1) 71%, rgba(58, 48, 221, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 767.98px) {
  .economic {
    .title {
      text-align: center;
    }
    h2 {
      font-size: 16px;
      margin-bottom: 20px;
    }
    p {
      line-height: 24px;
    }
  }
  .themeContainer {
    background: url("./img/banner-bg-m.png") top center no-repeat;
    background-size: cover;
    height: 228px;
    h3 {
      font-size: 14px;
    }
    .content {
      padding: 0;
    }
    h1 {
      font-size: 24px;
      margin-top: 84px;
    }
    .buttonSection {
      a {
        padding: 8px 44px;
      }
    }
  }
  .tokenContainer {
    margin: 50px 0;
    .economicCol {
      padding: 30px 70px;
    }
    img {
      margin-bottom: 10px;
    }
    .economicItemContent {
      margin-bottom: 20px;
    }
    .bridge {
      text-align: left;
    }
    .col {
      height: initial;
      margin-bottom: 20px;
      > div {
        padding: 20px 0;
      }
      .symbol {
        justify-content: flex-start;
      }
      .content {
        flex: 0 1 200px;
      }
      .item {
        flex-direction: column;
      }
    }
    .colRing {
      .itemTitle {
        margin-bottom: 10px;
      }
    }
    .colKton {
      .itemTitle {
        margin-bottom: 10px;
      }
    }
  }
  .stakingContainer {
    margin: 50px 0;
    .col {
      margin-bottom: 20px;
    }
    .chart {
      margin-bottom: 20px;
      div {
        font-size: 16px;
      }
    }
    .btn {
      a {
        width: 100%;
      }
    }
  }
  .inflationContainer {
    margin: 50px 0;
    .chart {
      margin-bottom: 20px;
      div {
        font-size: 16px;
      }
    }
    .btn {
      a {
        width: 100%;
      }
    }
  }
  .circulationContainer {
    margin: 50px 0;
    .subTitle {
      font-size: 20px;
    }
    .chart {
      background-color: initial;
      padding: 0;
      .chartImg {
        padding: 10px 15px;
        background-color: #f9fafc;
      }
    }
  }
  .modelContainer {
    margin: 50px 0 20px;
    .chart {
      flex-direction: column;
      margin-bottom: 15px;
      .title {
        font-size: 20px;
      }
    }
    .imgWrapper {
      text-align: center;
      background-color: #f9fafc;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
    }
    img {
      margin: 3px 70px;
    }
  }
  .lineH1 {
    height: 2px;
    background: #efefef;
    margin-bottom: 30px;
  }

  .lineH2 {
    height: 2px;
    background: #fff;
    width: 80px;
    margin: 2rem auto;
  }

  .fontH1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .line {
    display: none;
  }
}
