.main {
  margin-top: 150px;
  margin-bottom: 20px;

  @media screen and (max-width: 1024px) {
    margin-top: 70px;
  }
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: #1e3676;
}

.sub-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #555555;
  max-width: 740px;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 80px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 60px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 425px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    height: auto;
  }
}

.icon {
  height: 425px;
  margin: 0 20px;
  order: 2;

  @media screen and (max-width: 1024px) {
    height: 276px;
    order: 1;
    margin: 0 {
      bottom: 20px;
    }
  }
}

.item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  &:first-child {
    order: 1;
  }

  &:last-child {
    order: 3;
  }

  @media screen and (max-width: 1024px) {
    align-items: center;

    &:first-child {
      order: 2;
    }

    &:last-child {
      order: 3;
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (max-width: 1024px) {
    align-items: center;
  }

  .item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1e3676;
  }

  .item-desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;

    > a {
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #0027ff;
      text-decoration: underline;
    }
  }
}
