.main {
  background: transparent;
  padding-top: 12px;
  padding-bottom: 8px;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all 0.8s;

  &.hasFixed {
    background-color: #ffffff;
  }
}

.logo {
  width: 178px;
}

.navToggle {
  > span {
    background-image: url("./img/menu-white.png");
  }

  &.hasFixed {
    > span {
      background-image: url("./img/menu.png");
    }
  }
}

.navLinkText {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #ffffff !important;
  line-height: 20px !important;

  > a {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #ffffff !important;
    line-height: 20px !important;
  }

  &.hasFixed {
    color: #6330dd !important;

    > a {
      color: #6330dd !important;
    }
  }

  @media screen and (max-width: 991.98px) {
    padding: {
      top: 18px;
      bottom: 18px;
    }

    font-size: 18px !important;
    line-height: 23px !important;

    > a {
      font-size: 18px !important;
      line-height: 23px !important;
    }
  }
}

.apps {
  width: 70px;
  height: 34px;
  background: #ffffff;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;

  > span {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    color: #ffffff;
    line-height: 26px;
    background: linear-gradient(315deg, #ff1f65 0%, #811eff 71%, #2a1dff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.hasFixed {
    background: linear-gradient(315deg, #ff1f65 0%, #811eff 71%, #2a1dff 100%);

    > span {
      color: #ffffff;
      -webkit-background-clip: unset;
      background-clip: unset;
      -webkit-text-fill-color: unset;
    }
  }

  @media screen and (max-width: 991.98px) {
    margin-top: 40px;
    width: 80%;
    height: 44px;

    > span {
      color: #ffffff;
      background: linear-gradient(
        315deg,
        #ff1f65 0%,
        #811eff 71%,
        #2a1dff 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.mask {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: auto;
  transition: all 0.5s;
  z-index: 1;

  &.hidden {
    width: 0;
  }
}

.collapse {
  background-image: url("./img/collapse-bg.svg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 75%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
}

.closeBtn {
  border: none;
  background: transparent;
}

.landBtn {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  line-height: 28px;
  letter-spacing: 1px;
  border: none;
  background: transparent;

  &:hover {
    background: transparent;
    border: none;
  }
}
