@import "style/index";

body {
  color: $text-main;
  line-height: 1.3;
  font-family: "IBMPlexSans", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
  --font-base: 0;
  &.zh-font {
    // font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
  }
}
html {
  scroll-behavior: smooth;
}

#basic-navbar-nav .nav-link {
  color: $text-main;
}

.nav-link {
  color: $text-main;
  // font-weight: bold;
  padding: $nav-link-padding-y $nav-link-padding-x;
  cursor: pointer;
  &:hover {
    color: $text-main;
  }
}


h1 {
  font-weight: 400;
}

.navbar-toggler {
  border: none;

}

.navbar-light .navbar-toggler-icon {
  color: #000
}

.cs-header .dropdown-toggle::after {
  display: none;
}

.navbar-light .navbar-toggler-icon {
  background: url("./style/img/navbar-toggler-icon.png") top center no-repeat;
  background-size: 22px 19px;
  width: 22px;
  height: 19px;
}

.popover {
  font-family: inherit;
}
.overlay--active {
  pointer-events: auto;
  touch-action: none;
}

.overlay {
  bottom: 0;
  left: 0;
  // pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: .3s cubic-bezier(.25, .8, .5, 1);
  z-index: 5;
  color: rgba(0, 0, 0, .87);
}

.overlay:before {
  background-color: #212121;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: inherit;
  transition-delay: .15s;
  width: 100%;
}

.overlay--active:before {
  opacity: .7;
}

.spacer {
  flex-grow: 1 !important;
}

.dropdown-menu {
  padding: 1rem 0;
  border: none;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
  left: -30px;
}

.dropdown-item {
  padding: 0.55rem 1.5rem;
}

.hidden-md {
  display: none;
}

.btn-dark {
  color: #080C20;
  background-color: #fff;
  border-color: #080C20;
  padding-left: 55px;
  padding-right: 55px;
  font-weight: bold;
  border-radius: 0;
}
.btn-white {
  color: #fff;
  background-color: #201550;
  border-color: #201550;
  padding-left: 60px;
  padding-right: 60px;
  font-weight: bold;
  border-radius: 0;
}
.tooltip-inner {
  // color: #333;
  // background-color: #fff;
  // box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
}
.carousel {
  .carousel-indicators {
    li {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #6330DD;
      opacity: 0.3;
      &.active {
        opacity: 1;
      }
    }
  }
}
.home-carousel {
  .carousel {
    .carousel-indicators {
      left: 50%;
      transform: translate(-50%, 0);
      margin: 0 0 15px 0;
      width: fit-content;
      background: #6330DD4D;
      border-radius: 11px;
      padding: 2px 12px;
      li {
        border-width: 1px;
        width: 10px;
        height: 10px;
        flex: none;
        background-color: #fff;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}
.media-carousel {
  .carousel {
    .carousel-indicators {
      margin-left: 77%;
      margin-right: 0;
      justify-content: flex-start;
      margin-bottom: 0;
      li {
        flex: none;
        border-width: 1px;
        width: 10px;
        height: 10px;
      }
    }
  }
}
@media (min-width: 576px) {
  .nav-primary-fixed {
    top: -57px !important;
    // border-bottom: 1px solid #f0ebfc;
  }
}
@media (max-width: 575.98px) {
  .nav-primary-fixed {
    background: #fff !important;
    // position: fixed;
  }
}
@media (min-width: 768px) {
  .visible-xs {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .navbar-brand {
    margin-right: 0;
  }
  .hidden-xs {
    display: none;
  }

  .hidden-md {
    display: block;
  }
  .media-carousel {
    .carousel {
      .carousel-indicators {
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 0 15px 0;
        width: fit-content;
        li {
          border-width: 1px;
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .row {
    margin-right: -20px;
    margin-left: -20px;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0 20px;
  }

}

