$main-bg: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);

.main {
  background-image: url("./img/bg.png");
  background-repeat: repeat;
  padding-top: 20px;
  padding-bottom: 50px;
}

.magic-01 {
  position: absolute;
  width: 522px;
  height: 522px;
  left: -197px;
  top: -117px;

  background: linear-gradient(344.64deg, #ff0050 7.81%, #7000ff 68.09%, #0027ff 92.19%);
  opacity: 0.1;
  filter: blur(100px);

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.magic-02 {
  position: absolute;
  width: 522px;
  height: 394px;
  left: 1051px;
  top: 459px;

  background: linear-gradient(344.64deg, #ff0050 7.81%, #7000ff 68.09%, #0027ff 92.19%);
  opacity: 0.1;
  filter: blur(100px);

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

%-base-btn {
  position: relative;
  transition: all 0.3s;
  top: 0;
  opacity: 1;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    top: 2px;
    border: none;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

%-base-h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  color: #1e3676;

  @media screen and (max-width: 1024px) {
    font-weight: 500;
    font-size: 26px;
    line-height: 21px;
  }
}

%-base-p {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;

  @media screen and (max-width: 1024px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-container-logo {
  display: flex;
  align-items: center;
}

.heading-container-logo-img {
  height: 26px;

  @media screen and (max-width: 1024px) {
    height: 14px;
  }
}

.heading-container-logo-plo {
  margin-left: 10px;
  width: 69px;
  height: 35px;

  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  background: linear-gradient(315.52deg, #ff0050 0.88%, #7000ff 71.7%, #0027ff 100%);
  border-radius: 10px;

  > span {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.heading-container-right {
  display: flex;
  align-items: center;
}

.heading-container-right-how-it-works-link {
  @extend %-base-p;
  margin-right: 20px;
  color: #6604ff;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.heading-container-current-account-wrap {
  display: flex;
  align-items: center;
}

.heading-container-current-account {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f2f3f7;
  border-radius: 10px;
  height: 40px;
  padding: 0 10px;

  > span {
    @extend %-base-p;
    margin-right: 8px;
  }

  @media screen and (max-width: 1024px) {
    width: unset;
    height: unset;
    padding: 5px 8px;

    > span {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.heading-container-change-account {
  @extend %-base-btn;
  border-radius: 10px;
  padding: 0;
  background-clip: content-box, border-box;
  background-image: linear-gradient(white, white),
    linear-gradient(315deg, rgba(0, 208, 222, 1), rgba(55, 92, 223, 1), rgba(175, 74, 252, 1));
  background-origin: border-box;
  border: solid 1px transparent;
  margin-left: 10px;
  width: 90px;
  height: 40px;

  > span {
    @extend %-base-p;
    color: #6604ff;
  }

  @media screen and (max-width: 1024px) {
    width: 60px;
    height: 22px;
    margin-left: 4px;

    > span {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.heading-container-connnect-wallet-btn {
  @extend %-base-btn;
  padding: 10px 17px;

  background: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);
  border-radius: 10px;

  > span {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #ffffff;
  }

  @media screen and (max-width: 1024px) {
    width: unset;
    height: unset;
    padding: 5px 8px;

    > span {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.contribute-crowloan-referral {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.contribute {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
  margin-right: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 30px;
  padding: 30px;

  @media screen and (max-width: 1024px) {
    margin-right: 0;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
  }
}

.crowloan-referral {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;

  @media screen and (max-width: 1024px) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.contribute-title {
  @extend %-base-h3;
  width: 100%;
}

.contribute-lebal {
  @extend %-base-p;
  margin-bottom: 10px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 6px;
  }
}

.contribute-lebal-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  > p {
    margin: 0;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 6px;
  }
}

.contribute-input,
.referral-code-input {
  background: transparent;
  border: none;

  &:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: none;
  }
}

.contribute-input {
  width: calc(100% - 130px);

  @media screen and (max-width: 1024px) {
    width: calc(100% - 100px);
  }
}

.referral-code-input {
  width: calc(100%);
}

.dot-amount-input-wrap,
.referral-code-input-wrap,
.auction-success-rewards-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;

  @media screen and (max-width: 1024px) {
    margin-top: 20px;
  }
}

.dot-amount-input-control,
.referral-code-input-control {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.05);
  height: 52px;
  padding: 0 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1024px) {
    height: 40px;
  }
}

.dot-amount-input-suffix {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dot-amount-input-dot-suffix {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  color: #cccccc;
  margin-left: 5px;

  @media screen and (max-width: 1024px) {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}

.dot-amount-input-max-btn {
  @extend %-base-btn;
  width: 70px;
  height: 42px;
  background: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);
  border-radius: 10px;
  margin-left: 10px;

  > span {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
  }

  @media screen and (max-width: 1024px) {
    height: 28px;
    width: 50px;
    margin-left: 6px;
    border-radius: 8px;

    > span {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.input-dot-tip-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-available-dot,
.min-contrbution {
  @extend %-base-p;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);

  &.warning {
    color: #ff0050;
  }
}

.invalid-referral-code {
  visibility: hidden;
  @extend %-base-p;
  font-size: 14px;
  color: #ff0050;

  &.show {
    visibility: visible;
  }
}

.auction-success-rewards {
  width: 100%;
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 27px 38px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  align-items: center;
  justify-content: space-between;

  > span {
    @extend %-base-p;
  }

  .token-amount {
    justify-self: flex-end;
  }

  > .total {
    background: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }

  @media screen and (max-width: 1024px) {
    padding: 10px 16px;
    row-gap: 10px;
  }
}

.auction-success-rewards-content-wrap {
  display: flex;
  align-items: center;

  > span {
    @extend %-base-p;
  }
}

.limited-time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 5px;
  margin-left: 8px;

  background: #7000ff;
  border-radius: 10px;

  > span {
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.info-icon {
  height: 20px;
  opacity: 0.5;
  margin-left: 6px;
  transition: all 0.3s;

  @media screen and (max-width: 1024px) {
    height: 16px;
  }

  &:hover {
    opacity: 1;
  }
}

.contribute-btn-container {
  margin-top: 30px;
  width: 100%;

  .my-contribute-connect-wallet-btn {
    width: 100%;
  }
}

.contribute-btn {
  @extend %-base-btn;
  background: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);
  border-radius: 10px;
  width: 100%;
  height: 51px;

  @media screen and (max-width: 1024px) {
    height: 32px;
    border-radius: 8px;
  }

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
  }
}

.contribute-btn-spinning {
  :global {
    .ant-spin-container {
      > span {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #ffffff;
      }

      @media screen and (max-width: 1024px) {
        > span {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}

.crowloan {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 30px;
  width: 100%;
  height: 80%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1024px) {
    border-radius: 20px;
    padding: 20px;
  }
}

.crowloan-title {
  @extend %-base-h3;
  width: 100%;
}

.total-rewards-wrap {
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.05);
  height: 52px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #cccccc;
  border-radius: 10px;
  width: 100%;
  padding-left: 20px;

  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    padding-left: 10px;
    height: 42px;
  }

  > span {
    @extend %-base-p;
  }
}

.total-ring-rewards,
.total-kton-rewards {
  display: flex;
  align-items: center;
  margin-left: 30px;

  @media screen and (max-width: 1024px) {
    margin-left: 10px;
  }

  > span {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1e3676;
    padding-left: 6px;

    @media screen and (max-width: 1024px) {
      font-size: 14px;
      line-height: 18px;
      padding-left: 4px;
      font-weight: 500;
    }
  }

  > img {
    width: 30px;
    border-radius: 50%;

    @media screen and (max-width: 1024px) {
      width: 20px;
    }
  }
}

.current-total-contribute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;

  @media screen and (max-width: 1024px) {
    margin-top: 10px;
  }

  > span {
    @extend %-base-p;
  }
}

.total-contribute-dot {
  display: flex;
  align-items: center;

  > span {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1e3676;
  }

  > img {
    width: 35px;
  }

  @media screen and (max-width: 1024px) {
    > img {
      display: none;
    }

    > span {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.my-referral-link {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 30px;
  padding: 30px;
  margin-top: 20px;

  @media screen and (max-width: 1024px) {
    border-radius: 20px;
    padding: 20px;
  }
}

.my-referral-link-title-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;

  > h3 {
    @extend %-base-h3;
  }
}

.my-referral-link-content {
  @extend %-base-p;
  font-size: 14px;
  line-height: 16px;

  &.link {
    color: #7000ff !important;
  }
}

.my-contribute {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 30px;
  width: 100%;
  padding: 30px;
  margin-top: 40px;

  @media screen and (max-width: 1024px) {
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
  }
}

.my-contribute-title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-contribute-title {
  display: flex;
  align-items: center;

  > h3 {
    @extend %-base-h3;
  }

  > span {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #555555;
    margin-left: 15px;
  }

  &.connected {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > span {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > span {
      font-size: 6px;
      line-height: 8px;
      margin-left: 0;
      font-weight: 200;
    }
  }
}

.my-contribute-container-current-account-wrap {
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.my-contribute-connect-wallet-btn {
  @extend %-base-btn;
  background: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);
  border-radius: 10px;
  height: 41px;
  padding: 0 17px;

  > span {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    border-radius: 6px;
    height: 32px;
    padding: 0 10px;

    > span {
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
    }
  }
}

.contribute-info-card {
  margin-top: 18px;
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #cccccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 0;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.contribute-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  @media screen and (max-width: 1024px) {
    padding: 10px;
  }
}

.contribute-info-item-wrap {
  background: rgba(133, 49, 240, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 90%;
  margin-left: 10px;
}

.contribute-info-item-title {
  @extend %-base-p;
  text-align: center;
}

.contribute-info-item-title-wrap {
  display: flex;
  align-items: center;
}

.contribute-info-item-value {
  margin-top: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  background: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);
  background-clip: text;
  color: transparent;

  @media screen and (max-width: 1024px) {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }
}

.my-contribute-line {
  width: 1px;
  height: 80px;
  background: #cccccc;
  border-radius: 4px;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.my-contribute-history {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.contribute-history-wrap,
.referral-history-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;

  > p {
    @extend %-base-p;
    margin-bottom: 12px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 4px;
    }
  }
}

.contribute-history-wrap {
  margin-right: 10px;
  @media screen and (max-width: 1024px) {
    margin-right: 0;
  }
}

.referral-history-wrap {
  margin-left: 10px;
  @media screen and (max-width: 1024px) {
    margin-left: 0;
  }
}

.contribute-history-control,
.referral-history-control {
  box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #cccccc;
  border-radius: 10px;
  width: 100%;
  height: 135px;
  overflow-y: auto;
  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1024px) {
    padding: 10px;
    height: unset;
    max-height: 135px;
  }

  &.no-data {
    justify-content: center;
  }
}

.contribute-history-control-item,
.referral-history-control-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;

  @media screen and (max-width: 1024px) {
    margin-top: 6px;
  }

  &:first-child {
    margin-top: 0;
  }

  > span {
    @extend %-base-p;
  }

  .hash-id {
    color: #7000ff;
    width: 30%;
  }

  .dot-amount {
    width: 40%;
    text-align: right;
  }
}

.contribute-pioneers {
  margin-top: 25px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1024px) {
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
  }
}

.contribute-pioneers-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contribute-pioneers-title {
  display: flex;
  align-items: center;

  > h3 {
    @extend %-base-h3;
  }
}

.contribute-pioneers-title-rank {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  > img {
    height: 30px;
  }

  > span {
    @extend %-base-p;
    margin-left: 10px;
  }
}

.pioneers-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;

  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 25px;
  margin-top: 17px;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

.pioneers-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1024px) {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.pioneers-item-num-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/pioneer-icon.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 1024px) {
    width: 30px;
    height: 30px;
  }

  > span {
    @extend %-base-p;
    color: #ffffff;
    font-weight: bold;
  }
}

.pioneers-item-account-icon {
  // height: 60px;
  margin-top: 7px;

  @media screen and (max-width: 1024px) {
    height: unset;
  }
}

.pioneers-item-account-name {
  @extend %-base-p;
  margin: 0 {
    top: 25px;
  }

  @media screen and (max-width: 1024px) {
    margin-top: 8px;
  }
}

.pioneers-item-dot-amount {
  @extend %-base-p;
  background: linear-gradient(270deg, #ff0050 0%, #7000ff 71.44%, #0027ff 100%);
  background-clip: text;
  color: transparent;
  margin: 0;
  margin-top: 5px;
}

.crowloan-echarts {
  height: 258px;
  width: 100%;
}

.referral-leaderboard {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 30px;
  padding: 30px;
  margin-top: 25px;

  @media screen and (max-width: 1024px) {
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
  }
}

.referral-leaderboard-title {
  @extend %-base-h3;
  width: 100%;
  margin-bottom: 10px;
}

.referral-leaderboard-control {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 558px;
}

.referral-leaderboard-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1024px) {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  &:last-child {
    border: none;
    padding-bottom: 0;
  }
}

.referral-leaderboard-item-rank {
  width: 10%;

  .rank {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(315.52deg, #ff0050 0.88%, #7000ff 71.7%, #0027ff 100%);

    @media screen and (max-width: 1024px) {
      width: 20px;
      height: 20px;
    }
  }

  .rank2 {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-clip: content-box, border-box;
    background-image: linear-gradient(white, white),
      linear-gradient(315deg, rgba(0, 208, 222, 1), rgba(55, 92, 223, 1), rgba(175, 74, 252, 1));
    background-origin: border-box;
    border: solid 1px transparent;

    @media screen and (max-width: 1024px) {
      width: 20px;
      height: 20px;
    }

    > span {
      color: #7000ff;
    }
  }

  .rank3 {
    padding: 0;
    width: fit-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-clip: content-box, border-box;
    background-image: linear-gradient(white, white),
      linear-gradient(315deg, rgba(255, 0, 80, 1), rgba(112, 0, 255, 1), rgba(0, 39, 255, 1));
    background-origin: border-box;
    border: solid 1px transparent;

    > span {
      padding: 0 10px;
      color: #7000ff;
    }

    @media screen and (max-width: 1024px) {
      height: 20px;

      > span {
        padding: 0 6px;
      }
    }
  }

  span {
    @extend %-base-p;
    color: #ffffff;
  }
}

.referral-leaderboard-item-address {
  @extend %-base-p;
  width: 20%;
  text-align: center;
}

.referral-leaderboard-item-referrals {
  @extend %-base-p;
  width: 15%;
  text-align: center;
}

.referral-leaderboard-item-accumulated {
  @extend %-base-p;
  width: 25%;
  text-align: center;
}

.referral-leaderboard-item-rewards {
  @extend %-base-p;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  text-align: center;
}

.global-contribute {
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border-radius: 30px;
  padding: 30px;
  min-height: 823px;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  :global {
    .ant-table-title {
      font-weight: 600;
      font-size: 30px;
      line-height: 39px;
      color: #1e3676;

      @media screen and (max-width: 1024px) {
        font-weight: 500;
        font-size: 26px;
        line-height: 21px;
      }
    }

    .ant-table-cell {
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #000000;

      @media screen and (max-width: 1024px) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .ant-pagination-item {
      background: #7000ff;
      border: 1px solid #451892;
      box-sizing: border-box;
      border-radius: 5px;
      color: #ffffff;

      &:not(.ant-pagination-item-active) {
        color: #000000;
      }
    }
  }
}

.global-contribute-address {
  @extend %-base-p;
  color: #488ccb;
  text-align: center;
}

.select-account-modal {
  :global {
    .ant-modal-content {
      background: #ffffff;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    .ant-modal-header {
      border-radius: 10px;
      border-bottom: none;
    }

    .ant-modal-body {
      max-height: 600px;
      overflow: auto;
    }

    .ant-modal-close {
      top: 0px;
      left: calc(100% - 60px);
    }

    .ant-modal-close-x {
      > img {
        width: 36px;
      }
    }
  }
}

.connection-failed-modal {
  :global {
    .ant-modal-title {
      text-align: center;
      font-weight: bold;
    }

    .ant-modal-content {
      background: #ffffff;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
    }

    .ant-modal-header {
      border-radius: 30px;
      border-bottom: none;
    }

    .ant-modal-body {
      padding: 6px 60px 50px 60px;
      max-height: 600px;
      overflow: auto;
    }

    .ant-modal-close {
      top: 0px;
      left: calc(100% - 60px);
    }

    .ant-modal-close-x {
      > img {
        width: 36px;
      }
    }
  }

  .connection-tips {
    display: flex;
    gap: 20px;
    flex-direction: column;

    .tip {
      padding-left: 15px;
      &::before {
        position: absolute;
        content: "";
        background: #c4c4c4;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -15px;
        margin-top: 8px;
      }
    }
  }

  .apps-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    .app {
      width: 33.33%;
      margin-top: 20px;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.transaction-in-progress-modal {
  :global {
    .ant-modal-content {
      background: #ffffff;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    .ant-modal-body {
      padding-top: 60px;
    }

    .ant-modal-close {
      top: 0px;
      left: calc(100% - 60px);
    }

    .ant-modal-close-x {
      > img {
        width: 36px;
      }
    }
  }
}

.transaction-in-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > span {
    @extend %-base-p;
    margin-top: 20px;
  }
}

.accounts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;

  @media screen and (max-width: 1024px) {
    max-height: 400px;
    align-items: flex-start;
  }
}

.accounts-item {
  @extend %-base-btn;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 3px;
  background: transparent;
  overflow-x: auto;

  @media screen and (max-width: 1024px) {
    margin-top: 4px;
    padding: 6px 3px;
    justify-content: flex-start;
  }

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    background: rgba(188, 195, 214, 0.2);
    border-radius: 10px;
  }
}

.accounts-item-name-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6px;
  width: 100%;
  overflow-x: auto;

  @media screen and (max-width: 1024px) {
    margin-left: 12px;
  }

  .name {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-align: left;

    @media screen and (max-width: 1024px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .address {
    @extend %-base-p;
    text-align: left;
  }
}

.thanks-for-support-modal {
  :global {
    .ant-modal-content {
      background: #ffffff;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    .ant-modal-header {
      border-radius: 10px;
      border-bottom: none;
    }

    .ant-modal-close {
      top: 0px;
      left: calc(100% - 60px);
    }

    .ant-modal-close-x {
      > img {
        width: 36px;
      }
    }
  }
}

.thanks-for-support-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.thanks-for-support-modal-content-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000000;

  @media screen and (max-width: 1024px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
}

.thanks-for-support-modal-content-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 30px;

  @media screen and (max-width: 1024px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.thanks-for-support-modal-content-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanks-for-support-modal-content-contact-item {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }

  > img {
    height: 30px;

    @media screen and (max-width: 1024px) {
      height: 20px;
    }
  }
}

.tooltip-overlay {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tips {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;

  > a {
    color: #7000ff;
  }
}

.current-tag {
  background: #7000ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 5px;
  margin-top: 3px;

  > span {
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
  }

  &.space {
    background: transparent;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    > span {
      color: transparent;
    }
  }
}

.claim-reward-btn {
  @extend %-base-btn;
  background: $main-bg;
  border-radius: 10px;
  padding: 6px 14px;
  margin-top: 8px;

  @media screen and (max-width: 1024px) {
    padding: 3px 6px;
    border-radius: 8px;
  }

  &:disabled {
    background: #ccc;
  }

  > span {
    @extend %-base-p;
    color: #fff;
  }

  &.space {
    background: transparent;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    > span {
      color: transparent;
    }
  }
}

.all-right {
  @extend %-base-p;
  width: 100%;
  text-align: center;
  margin: 0 {
    top: 30px;
  }
}

.btc-reward-modal {
  :global {
    .ant-modal-content {
      background: #ffffff;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    .ant-modal-close {
      top: 0px;
      left: calc(100% - 60px);
    }

    .ant-modal-body {
      padding-bottom: 12px;

      .form-group {
        padding-left: 24px;
      }
    }

    .ant-modal-close-x {
      > img {
        width: 36px;
      }
    }

    .submit-btn {
      background: $main-bg;
      width: 100%;
      border-radius: 10px;
      outline: none;
    }
  }
}
