@import "../../style/index";

.news {
  text-align: left;
  padding: 60px 0 100px 0;
  min-height: calc(100vh - 132px);
  h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  h3 {
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    a{
      color: $text-main;
    }
  }

  .content {
    img {
      width: 100%;
      margin-bottom: 30px;
    }
    padding: 0 25px 70px 35px;
    box-sizing: border-box;
  }
}

.fontH1 {
  font-size: 35px;
  text-transform: uppercase;
}

.lineH1 {
  height: 1px;
  background: #EFEFEF;
  margin-bottom: 70px;
  margin-top: 30px;
}

@media (max-width: 575.98px) {
  .news {
    h1 {
      font-size: 26px;
    }
    h3 {
      margin-bottom: 20px;
    }

    .content {
      padding: 0 25px 50px 35px;
    }
  }

  .lineH1 {
    height: 2px;
    margin-bottom: 30px;
    margin-top: 15px;
  }
}
