@import "../../style/index";

.media {
  .content {
  }
  .carousel {
    margin: 100px 0;
    > div {
      > a {
        display: none;
      }
    }
    .carouselItem {
      .imgRatio {
        display: block;
        padding-bottom: 41%;
        position: relative;
        img {
          background-color: #f7f7f7;
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .mediaInfo {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #6330dd;
        text-transform: uppercase;
        .mediaTime {
          font-size: 12px;
          color: #201550;
        }
      }
      .mediaDesc {
        font-size: 16px;
      }
    }
    &.pcCarousel {
      .carouselItem {
        .imgRatio {
          .mediaTitle {
            position: absolute;
            display: flex;
            align-items: center;
            // padding: 0 30px;
            width: 100%;
            height: 100%;
            // height: 42%;
            // margin-top: 22%;
            padding-bottom: 5%;
            // font-family: "PangMenZhengDao";
            color: #ffffff;
            line-height: 37px;
            // background: linear-gradient(180deg, rgba(99, 48, 221, 0) 0%, #DE378F 100%, #DE378F 100%);
          }
          .bg {
            position: absolute;
            top: 234px;
            left: 0;
            right: 0;
            bottom: 0;
            // background: #EB3786;
            // opacity: .8;
            background: linear-gradient(
              180deg,
              rgba(99, 48, 221, 0) 0%,
              #de378f 100%,
              #de378f 100%
            );
          }
          .text {
            position: absolute;
            top: 234px;
            left: 0;
            right: 0;
            bottom: 0;
            font-weight: 600;
            font-size: 32px;
            display: flex;
            align-items: center;
            padding: 0 30px;
          }
        }
      }
    }
  }
  h1 {
    display: inline-block;
    margin-bottom: 0;
    letter-spacing: 2.5px;
    font-size: 40px;
  }
  .section {
    margin-bottom: 100px;
    .title {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      img {
        width: 56px;
        height: 56px;
        margin-right: 30px;
      }
    }
  }
  .mediaBlocks {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .imgUrl {
    display: inline-block;
    color: $text-main;
    width: 100%;
    &:hover {
      text-decoration: none;
    }
  }
  .mediaContent {
    margin-bottom: 50px;
    .imgRatio {
      padding-bottom: 55%;
      position: relative;
      img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .mediaInfo {
      margin: 10px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #6330dd;
      .mediaTime {
        font-weight: bold;
        letter-spacing: 0.5px;
        line-height: 20px;
        font-size: 12px;
        order: -1;
        opacity: 0.5;
        color: #6330dd;
      }
    }
    .mediaDesc {
      font-size: 16px;
    }
  }
  .button {
    font-size: 14px;
    padding: 10px 75px;
    border-radius: 0;
  }
}

.fontH1 {
  font-size: 35px;
}

.lineH1 {
  height: 1px;
  margin-bottom: 60px;
  margin-top: 60px;
  background: linear-gradient(315deg, #fe3876 0%, #7c30dd 72%, #3a30dd 100%);
  opacity: 0.2;
}

.gradientText {
  display: inline-block;
  text-transform: uppercase;
  font-size: 40px;
  color: rgba(8, 12, 32, 1);
  letter-spacing: 2px;
  background: linear-gradient(
    315deg,
    rgba(254, 56, 118, 1) 0%,
    rgba(124, 48, 221, 1) 71%,
    rgba(58, 48, 221, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 575.98px) {
  .media {
    .carousel {
      margin: 0 0 40px;
      .carouselItem {
        .imgRatio {
          padding-bottom: 52%;
        }
        .mediaTitle {
          color: #080c20;
          font-size: 24px;
          margin-bottom: 20px;
        }
        .mediaDetail {
          height: 230px;
          margin: 20px 20px 40px;
        }
        .mediaDesc {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          /* autoprefixer: ignore next */
          -webkit-box-orient: vertical;
        }
      }
      > div {
        > a {
          display: flex;
          height: 52vw;
        }
      }
    }
    .section {
      margin-bottom: 70px;
      .title {
        justify-content: center;
        margin-bottom: 25px;
        img {
          width: 26px;
          height: 26px;
          margin-right: 10px;
        }
      }
    }
    h1 {
      font-size: 22px;
    }
    h3 {
      margin-bottom: 20px;
    }

    .content {
      padding: 0 25px 0 35px;
    }
  }

  .lineH1 {
    height: 2px;
    margin-bottom: 30px;
    margin-top: 15px;
  }
}
