%-page-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 576px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.page-section-1 {
  @extend %-page-section;
  margin-top: 70px;
  background: url('./img/bg-m.svg') center center no-repeat;
  background-size: cover;

  @media screen and (min-width: 576px) {
    background-image: url('./img/bg.svg');
  }

  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    text-transform: capitalize;
    color: #5C33D5;

    @media screen and (min-width: 576px) {
      font-size: 50px;
      line-height: 65px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #333333;

    @media screen and (min-width: 576px) {
      text-transform: capitalize;
      color: #000000;
      text-align: left;
    }
  }
}

.page-section-2 {
  @extend %-page-section;

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-transform: capitalize;
    color: #000000;

    @media screen and (min-width: 576px) {
      font-size: 40px;
      line-height: 52px;
    }

    >strong {
      color: #5C33D5;
    }
  }

  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;

    @media screen and (min-width: 576px) {
      font-size: 16px;
      line-height: 25px;
    }
  }

  .sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
  }

  .sub-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #555555;
  }
}

.page-section-3 {
  @extend %-page-section;
  background: #EBEAFC;

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;

    @media screen and (min-width: 576px) {
      font-size: 40px;
      line-height: 52px;
    }

    >strong {
      color: #5C33D5;
    }
  }

  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;

    @media screen and (min-width: 576px) {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.page-section-4 {
  @extend %-page-section;

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;

    @media screen and (min-width: 576px) {
      font-size: 40px;
      line-height: 52px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;

    @media screen and (min-width: 576px) {
      font-size: 16px;
      line-height: 25px;
    }
  }

  .sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    color: #FFFFFF;
  }

  .sub-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
  }
}

.page-section-5 {
  @extend %-page-section;
  background: url('./img/bg-join-m.svg') center center no-repeat;
  background-size: cover;

  @media screen and (min-width: 576px) {
    background-image: url('./img/bg-join.svg');
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;

    @media screen and (min-width: 576px) {
      font-size: 40px;
      line-height: 52px;
      letter-spacing: 2px;      
      color: #F9FAFC;
    }
  }

  .sub-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #F9FAFC;
  }

  .sub-description {
    height: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #F9FAFC;

    @media screen and (min-width: 576px) {
      height: 40px;
    }
  }
}

.feature-card {
  background-color: #EBEAFC;
  height: 200px;
  margin-bottom: 6px;
}

.code-card-title {
  display: initial;
  height: 40px;
  background: #5738D4;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;

  @media screen and (min-width: 576px) {
    font-size: 20px;
    line-height: 26px;
    height: 60px;
  }
}

.code-card-source {
  max-height: 460px;
  background: #FFFFFF;
  overflow: auto;

  @media screen and (min-width: 576px) {
    height: 460px;
  }
}

.btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;

  border-color: #5C33D5;
  background: #5C33D5;

  &:hover {
    border-color: #3f03f3;
    background: #3f03f3;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(70, 94, 248, 0.504);
  }
}

.interoperation-token {
  background: #EFECFB;

  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #555555;

    @media screen and (min-width: 576px) {
      font-size: 16px;
      line-height: 21px;
    }

    >a {
      color: rgb(71, 21, 203);
    }
  }
}

.interoperation-card {
  >img {
    width: 100%;
  }

  &.crab-chain {
    background: linear-gradient(180deg, #5C33D5 0%, #8568DB 100%);
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    @media screen and (min-width: 576px) {
      border-radius: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }

  &.crab-smart-chain {
    border-radius: 0;
    background: linear-gradient(180deg, #E6378A 0%, #F26BAB 100%);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    @media screen and (min-width: 576px) {
      border-radius: 0;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}

.helix-bridge {
  height: 30%;
  background: #000000;

  >span {
    margin-top: 6px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
}

.interoperation-asset {
  height: 35%;
  background: rgba(233, 230, 250, 1);

  &.crab-to-smart {
  }

  &.smart-to-crab {
  }
}

.join-card {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);
}

.join-btn {
  @extend .btn;
  display: block;
  width: 100%;

  @media screen and (min-width: 576px) {
    width: 50%;
  }
}

.join-input-group {
  width: 100%;
  @media screen and (min-width: 576px) {
    width: 75%;
  }

  >input {
    width: 100%;
    border-radius: 0.25rem !important;

    @media screen and (min-width: 576px) {
      width: auto;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  >button {
    @extend .btn;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.25rem !important;

    @media screen and (min-width: 576px) {
      width: auto;
      margin-top: 0;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}
