.page-section-1 {
  margin-top: 70px;
  height: 630px;
  background: url('./img/bg-m.svg');
  background-size: 100% 100%;

  @media screen and (min-width: 576px) {
    background: url('./img/bg.svg');
  }
}

// .page-section-2 {}

.page-section-3 {
  background: #EBEAFC;
  padding-top: 80px;
  padding-bottom: 80px;
}

.page-section-4 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.page-section-5 {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url('./img/bg-join-m.svg');
  background-size: cover;

  @media screen and (min-width: 576px) {
    background: url('./img/bg-join.svg');
  }
}

.feature-card {
  background-color: #EBEAFC;
  height: 200px;
}

.code-card-title {
  display: initial;
  height: 60px;
  background: #5738D4;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.code-card-source {
  height: 460px;
  background: #FFFFFF;
}

.btn {
  border-color: #5C33D5;
  background: #5C33D5;

  &:hover {
    border-color: #3f03f3;
    background: #3f03f3;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(70, 94, 248, 0.504);
  }
}

.interoperation-token {
  background: #EFECFB;
}

.interoperation-card {
  >img {
    width: 100%;
  }

  &.crab-chain {
    background: linear-gradient(180deg, #5C33D5 0%, #8568DB 100%);
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    @media screen and (min-width: 576px) {
      border-radius: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }

  &.crab-smart-chain {
    border-radius: 0;
    background: linear-gradient(180deg, #E6378A 0%, #F26BAB 100%);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    @media screen and (min-width: 576px) {
      border-radius: 0;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}

.helix-bridge {
  height: 30%;
  background: #000000;

  >span {
    margin-top: 6px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
}

.interoperation-asset {
  height: 35%;
  background: rgba(233, 230, 250, 1);

  &.crab-to-smart {
  }

  &.smart-to-crab {
  }
}

.join-card {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);

  >p {
    height: 40px;
  }
}

.join-btn {
  @extend .btn;
  display: block;
  width: 100%;

  @media screen and (min-width: 576px) {
    width: 50%;
  }
}

.join-input-group {
  width: 100%;
  @media screen and (min-width: 576px) {
    width: 75%;
  }

  >input {
    width: 100%;
    border-radius: 0.25rem !important;

    @media screen and (min-width: 576px) {
      width: auto;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  >button {
    @extend .btn;
    width: 100%;
    margin-top: 1rem;
    border-radius: 0.25rem !important;

    @media screen and (min-width: 576px) {
      width: auto;
      margin-top: 0;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}
