name: Deploy staging

on:
  push:
    branches: [master]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/checkout@v2
        with:
          repository: darwinia-network/devops
          path: .github

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Prepare Project Config
        run: |
          mv vercel.json build/
          mv api build/

      - uses: ./.github/actions/smart-vercel
        name: Deploy to Vercel
        id: smart-vercel
        with:
          vercel_token: ${{ secrets.VERCEL_TOKEN }}
          vercel_group: itering
          preview_output: true
          project_name: home
          alias_domain: "darwinia-home-stg"
          script_run: false
          enable_cache: true
          enable_notify_slack: true
          slack_channel: public-darwinia-websites-apps
          slack_webhook: ${{ secrets.SLACK_INCOMING_WEBHOOK_URL }}
